.container{
    width: 860px;
    background-color: rgba(255, 165, 228, 0.597);
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
}
.profile{
    width: 30%;
}
.about_me{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-left: 3px solid black;

}
.about_me div{
    border-bottom: 1px solid black;
    margin: 10px 0px;
}
#me{
width: 100px;
height: 100px;
border: 3px dotted black;
border-radius: 50%;
padding: 2px;
margin: 10px 0px;
}
.greeting{
    display: flex;
    flex-direction: column;
}

.hello{
    font-weight: 700;
    font-size: 35px;
}
.name{
    font-size: 30px;
    color: rgb(75, 2, 42);
    font-weight: 800;
    margin-top: 5px;
}
.main_contact{
    font-size: 15px;
    font-weight: 700;
}
.contacts{
border: 2px solid black;
background-color: rgb(232, 158, 195);
display: flex;
font-family: Verdana, sans-serif;
font-weight: 300;
font-size: 10px;
flex-direction: column;
margin: 10px 0px;
width: 60%;
padding: 8px;
}
.contacts span{
    padding: 2px;
}
.skill_percentage{
    width: 65%;
    height: 15px;
    background-color: rgb(232, 158, 195);
    margin: 10px 0px;
}
.CSS{
    width: 50%;
    height: 100%;
    background-color: black;
    margin-top: 3px;
    font-size: 95%;
    color:  rgb(232, 158, 195);
}
.HTML{
    width: 30%;
    height: 100%;
    background-color:  black;
    margin-top: 3px;
    font-size: 95%;
    color:  rgb(232, 158, 195);
}
.JS{
    width: 15%;
    height: 100%;
    background-color:  black;
    margin-top: 3px;
    font-size: 90%;
    color:  rgb(232, 158, 195);
}
.skills span{
    font-family: Times, serif;
    font-weight: 900;
    font-size: 25px;
}

.skills-general{
    margin-top: 10px;
}

.languages span{
    font-size: 25px;
    font-family: Times, serif;
    font-weight: 900;
}
.languages li:before{
    content: '✔ ';
    padding: 0;
    margin: 0; 
}
ol{
    list-style: none;
    padding-left: 5px;
}
